<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div class="ion-padding">
      <p>Trabajo realizado por Johnny Andrey Castro Mahecha</p>
      <img src="../assets/images/eseit.jpg" alt="">
  </div>
  <div class="ion-padding">
        <!-- Colors -->
        <ion-button color="success">aceptar</ion-button>
        <ion-button color="danger">cancelar</ion-button>
  </div>
</ion-content>